@model List<LCSK.RealTimeVisit>
@{
    Layout = null;
}

<h1>Real-Time Website Visits</h1>

<table cellpadding="5" width="100%">
<tr>
    <th>Ip</th>
    <th>Viewing Page</th>
    <th>Requested On</th>
    <th>Referrer</th>
    <th>Chat / Engage</th>
</tr>
@if (Model != null && Model.Count() > 0)
{
    foreach (var v in Model)
    {
    <tr>
        <td>@v.VisitorIp</td>
        <td>@v.PageRequested</td>
        <td>@LCSK.DateExtensions.ElapseTime(v.RequestedOn)</td>
        <td>@v.Referrer</td>
        <td><a href="#">@(v.InChatId == Guid.Empty ? "engage" : "view chat")</a></td>
    </tr>
    }
}
else
{
    <tr>
        <td colspan="5">No traffic at this time.</td>
    </tr>
}
</table>