@model LCSK.Core.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<h2>Real-Time Dashboard</h2>

<p>Here you can have an overview of what's going on currently in terms of visitors and chat requests.</p>

<h4>Current Visitors</h4>

@if (Model.Visitors != null && Model.Visitors.Count() > 0)
{
    <table>
    <tr>
        <th>Time</th>
        <th>Page Requested</th>
        <th>Referrer</th>
        <th>Visitor Ip</th>
        <th>Visitor browser</th>
    </tr>
@foreach (var v in Model.Visitors)
{
    <tr>
        <td>@v.Requested.ToShortTimeString()</td>
        <td><a href="@v.PageRequested" target="_blank">@v.PageRequested</a></td>
        <td><a href="@v.Referrer" target="_blank">@v.Referrer</a></td>
        <td>@v.VisitorIp</td>
        <td>@v.VisitorUserAgent</td>
    </tr>
}
    </table>
}
else
{
    <p>There is currently no visitors or no pages with the chat button has been requested.</p>
}

<h4>Pending chat requests</h4>

@if (Model.PendingRequests != null && Model.PendingRequests.Count() > 0)
{
    <table>
    <tr>
        <th>Date & Time</th>
        <th>Operator</th>
        <th>Department</th>
        <th>Visitor Name</th>
        <th>Visitor Email</th>
    </tr>
@foreach (var r in Model.PendingRequests)
{
    <tr>
        <td>@r.Requested.ToShortDateString() at @r.Requested.ToShortTimeString()</td>
        <td>@r.OperatorName</td>
        <td>@r.Department</td>
        <td>@r.VisitorName</td>
        <td>@r.VisitorEmail</td>
    </tr>
}
    </table>
}
else
{
    <p>There is currently no pending chat request.</p>
}

<h4>Current chat sessions</h4>

@if (Model.CurrentChat != null && Model.CurrentChat.Count() > 0)
{
    <table>
    <tr>
        <th>Date & Time</th>
        <th>Accepted</th>
        <th>Operator</th>
        <th>Department</th>
        <th>Visitor Name</th>
        <th>Visitor Email</th>
    </tr>
@foreach (var r in Model.CurrentChat)
{
    <tr>
        <td>@r.Requested.ToShortDateString() at @r.Requested.ToShortTimeString()</td>
        <td>@r.Accepted.Value.ToShortTimeString()</td>
        <td>@r.OperatorName</td>
        <td>@r.Department</td>
        <td>@r.VisitorName</td>
        <td>@r.VisitorEmail</td>
    </tr>
}
    </table>
}
else
{
    <p>There is currently no chat session.</p>
}

<h4>Pending invitation</h4>

@if (Model.PendingInvitations != null && Model.PendingInvitations.Count() > 0)
{
    <table>
    <tr>
        <th>Date & Time</th>
        <th>Operator</th>
        <th>Visitor Ip</th>
    </tr>
@foreach (var r in Model.PendingInvitations)
{
    <tr>
        <td>@r.Requested.ToShortDateString() at @r.Requested.ToShortTimeString()</td>
        <td>@r.OperatorName</td>
        <td>@r.VisitorIp</td>
    </tr>
}
    </table>
}
else
{
    <p>There is currently no pending chat invitation.</p>
}