@model LCSK.ChatBoardViewModel
@using LCSK
@{
    ViewBag.title = "Chat visitors";
    ChatOperator op = (ChatOperator)ViewBag.op;
}


        <h1>Visitors</h1>

        <p>Your status: <a href="/chat/go/@(op.Username + "-" + op.Password + "-status")">@(op.IsOnline ? "online" : "offline")</a></p>

@if (Model != null && Model.PendingChats != null && Model.PendingChats.Count() > 0)
{
    if (Model.PendingChats.Count(x => x.Accepted == null) > 0)
    {
        <audio id="snd-newrequest" src="/content/sounds/newchat.mp3" autoplay="true"></audio>
    }
    foreach (var c in Model.PendingChats)
    {
        <p>Chat request from @c.VisitorIp received @LCSK.DateExtensions.ElapseTime(c.Created) <a href="/chat/chatsession/@(c.Id)?opId=@(op.Id)&opname=@(op.DisplayName)" target="_blank">accept</a></p>
    }
}

@if (Model != null && Model.Visits != null && Model.Visits.Count() > 0)
{
    <table cellpadding="5" cellspacing="5">
    <tr>
        <th>From</th>
        <th>Page</th>
        <th>Referrer</th>
        <th>First visit</th>
        <th>Last visit</th>
        <th>In Chat / Engage</th>
    </tr>
@foreach (var v in Model.Visits)
{
    <tr>
        <td>@v.Location</td>
        <td><a href="@v.PageRequested" target="_blank">@v.PageRequested.Replace("/", " /")</a></td>
        <td><a href="@v.Referrer" target="_blank">@(!string.IsNullOrEmpty(v.Referrer) ? v.Referrer.Replace("/", " /").Replace("&", " &") : "n/a")</a></td>
        <td>@LCSK.DateExtensions.ElapseTime(v.RequestedOn)</td>
        <td>@LCSK.DateExtensions.ElapseTime(v.Ping)</td>
        <td>@(new HtmlString((v.InChatId != Guid.Empty ? "In Chat" : string.Format("<a href=\"/chat/chatsession/{0}?opname={1}&ip={2}&opId={3}&vid={4}\" target=\"_blank\">engage</a>", Guid.Empty, op.DisplayName, LCSK.StringExtensions.ToBase64(v.VisitorIp), op.Id, LCSK.StringExtensions.ToBase64(v.VisitorId.ToString())))))</td>
    </tr>
}
    </table>
}


<script src="@Url.Content("~/Scripts/chat-admin.js")" type="text/javascript"></script>