@{
	ViewBag.Title = "Installing LCSK";
	Layout = "~/Areas/LiveChat/Views/Shared/_Layout.cshtml";
}
<h2>
	Installing LiveChat Starter Kit by Focus Centric inc.</h2>
<p>
	Supply your SQL Server information so we can create tables for LCSK.</p>
@using(Html.BeginForm()) {
<fieldset>
	<legend>Database setup</legend>
	<p>
		@Html.Label("Admin password 'admin' super user")
		@Html.Password("adminPassword") @Html.ValidationMessage("adminPassword")
	</p>
	<p>
		@Html.Label("SQL Server Name")
		@Html.TextBox("server") @Html.ValidationMessage("server")
	</p>
	<p>
		@Html.Label("Database name")
		@Html.TextBox("dbname") @Html.ValidationMessage("dbname")
	</p>
	<p>
		If you are not using Integrated Security, enter a username & password</p>
	<p>
		@Html.Label("Username (optional)")
		@Html.TextBox("username")
	</p>
	<p>
		@Html.Label("Password (optional)")
		@Html.Password("password")
	</p>
	<p>
		<input type="submit" value="Create Database" />
	</p>
</fieldset>
}